@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400;500&display=swap');
*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*padrão rgba:#A09038*/
    font-family: 'M PLUS Code Latin', sans-serif;
}

:root{
    /* colors */
    --hue: 239;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 60% 40%);
    --base-color-second: hsl(var(--hue) 65% 50%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}
h1{
    color: var(--title-color);
    text-shadow: 1px 1px 5px red;
    transition: .3s;
    font-size: 50px;


}
h2{
    text-align: center;
    font-size: 40px;

}
body{
    background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?cs=srgb&dl=pexels-miriam-espacio-110854.jpg&fm=jpg);
    background-repeat: no-repeat;
}

.container-general{
    border: .2px solid var(--text-color);
    border-radius: 5px;
    margin: 20px;
    background-color: var(--text-color);
    padding: 15px;
    opacity: 90%;
    transition: .3s;
    box-shadow: 5px 5px 5px red;

}
.container-general:hover{
    opacity: 100%;
    box-shadow: 2px 2px 5px rgb(0, 4, 255);



}
.container-general:hover h1{
    text-shadow: 1px 1px 5px rgb(0, 4, 255);

}
.container-general:hover li{
    background-color: var(--base-color-alt);

}
button{
    color: var(--title-color);
    font-weight: bolder;
    cursor: pointer;
    background-color: var(--text-color-light);
    transition: .4s;

}
button:hover{
    background-color: var(--title-color);
    color: var(--text-color-light);
}
button, input{
    padding: 10px;
    border-radius: 5px;
    border: .2px solid var(--text-color);
}

div.random{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
div.to-dos{
    display: grid;
    justify-content: center;
    align-items: center;
}
li{
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--text-color);
    transition: .3s;
    list-style: none;
    max-width: 500px;

}
li:hover{
    box-shadow: 1px 1px 2px var(--text-color);
    transform: translateY(-4px);
    border: .5px solid var(--title-color);
}
@media (max-width: 545px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
}
